.site-main .about-area {
  padding: 6rem 5rem;
}

.site-main .about-area .about-title h2>span {
  display: block;
  font: normal bold 49px/60px var(--roboto); 
  letter-spacing: 15px;
}

.site-main .about-area .about-title .paragraph>p {
  padding: .2rem 0;
}

