.site-main .site-banner .site-title h3 {
    padding-top: 35%;
    font-weight: 500;
}

.site-main .site-banner .site-title h3::after {
    content: '';
    height: 2px;
    width: 18vw;
    background: black;
    display:inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    font-size: 5rem;
}

.site-main .site-banner .site-title h4 {
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
    padding: 2rem 0;
    width: 90rem;
}